/*body{*/
/*background: #eee;*/
/*}*/
/*网站顶部*/
header{
    background: url(../img/header-background.jpg) REPEAT-Y;
    background-size: 100%;
    border-bottom: 6px #fff solid;
}
.header{
    position: relative;
    height: 134px;
}
.header-logo{
    position: absolute;
    top: 20px;
    left: -152px;
    display: block;
    width: 152px;
    height: 152px;
    background: url("../img/header-logo.png") no-repeat left center;
}
.header-nav{
    padding-top: 66px;
    padding-left: 36px;
}
.header-nav>li{
    position: relative;
    float: left;
    margin:0 20px;
}
.header-nav>li>a{
    display: block;
    position: relative;
    width: 90px;
    height: 34px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    color: #fff;
    z-index: 2;
}
.header-nav>li:hover>a,.header-nav .active{
    color: #14c18b;
    background: url("../img/header-nav-icon.png") no-repeat left center;
}
.header-nav>li:hover>.ict1{
    color: #15d4c2
}
.header-nav>li:hover>.ict2{
    color: #18dce5
}
.header-nav>li:hover>.ict3{
    color: #19deeb
}
.header-nav>li:last-child{
    margin-right:0;
}
.header-nav-list{
    display: none;
    position: absolute;
    top: 24px;
    left: 5px;
    width: 90px;
    padding-top: 14px;
    background: rgba(13,190,196,.8);
    box-shadow:6px 6px 5px rgba(0,0,0,.35);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
}
.header-nav li:hover>.header-nav-list{
    display: block;
}
.header-nav-list>li{
    width: 90px;
    height: 32px;
    margin: 1px 0;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    background: rgba(255,255,255,.5);
}
.header-nav-list>.icon{
    background: url("../img/top-nav-list-icon.jpg") no-repeat;
}
.header-nav-list>li>a{
    color: #fff;
}

/*网站轮播图*/
.top-item{
    height: 74px;
    margin-top: -4px;
    background: #064763;
    font-size: 32px;
    line-height: 74px;
    text-align: center;
    color: #fefefe;
}
.top img{
    width: 100%;
}

/*网站底部*/
footer{
    height: 127px;
    background: url("../img/header-background.jpg");
}
.footer-center{
    width: 600px;
    margin:0 auto;
    padding-top: 44px;
}
footer span,footer .span1{
    padding-left: 20px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
}
footer span a,footer .span1 a{
    padding-left: 12px;
    color: #fff;
}
footer .span1{
    margin-top: 16px;
    padding-left: 0;
    text-align: center;
}

/*目录标签*/
.center-top{
    position: relative;
    width: 285px;
    height: 68px;
    border-radius: 8px;
    background: linear-gradient(to right, #17dadb , rgba(104, 216, 209, 0.8), rgba(50, 153, 111, 0.2),rgba(64,153,124,0));
}
.center-top .item1{
    display: block;
    float: left;
    padding-top: 12px;
    padding-left: 22px;
    font-size: 25px;
    line-height: 25px;
    color: #fff;
}
.center-top .item2{
    position: absolute;
    top:35px;
    left: 106px;
    width: 44px;
    transform: rotate(-63deg);
    border-bottom: 1px solid #17d3c0;
}
.center-top .item3{
    display: block;
    float: left;
    padding-top: 36px;
    padding-left: 8px;
    font-size: 20px;
    line-height: 20px;
    color: #4c4c4c;
}
/*目录*/
.center-list li{
    width: 246px;
    padding-left: 32px;
    font-size: 20px;
    line-height: 72px;
    background: url("../img/center-list-li-left.png") no-repeat 10px center;
    border-top:1px solid #434343;
}
.center-list li:last-child{
    border-bottom:1px solid #434343;
}
.center-list li a{
    display: block;
    width: 208px;
    height: 72px;
    padding-right:38px;
    color: #4c4c4c;
    background: url("../img/center-list-li-right.png") no-repeat 208px center;
}
.center-list li a span{
    display: inline-block;
    position: relative;
    z-index: 2;
    /*background:#36d9c9 no-repeat 0 10px;*/
}
.center-list li a:hover>span strong,.center-list li .active  strong{
    display: inline-block;
    top: 40px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 7px;
    background:#36d9c9;
    z-index: 1;
}

/*分页*/
.center-paging{
    display: inline-block;
    line-height: 0;
}
.center-paging .item{
    display: inline-block;
    /*float: left;*/
    border:1px solid #19dada;
    border-radius:2px;
    overflow: hidden;
}
.center-paging .item:hover,.center-paging .item:hover>a,
.center-paging-list li:hover,.center-paging-list li:hover>a,
.center-paging .itemss{
    background: #19dada;
    border:1px solid #19dada;
    color: #fff;
}
.center-paging .item a{
    display: block;
    width:60px;
    height: 26px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #19dada;
    border:1px solid #66e6e6;
}
.center-paging-list{
    display: inline-block;
    /*float: left;*/
}
.center-paging-list li{
    float: left;
    margin-left:14px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    border:1px solid #19dada;
    border-radius:2px;
    overflow: hidden;
}
.center-paging-list li:last-child{
    margin-right: 14px;
}
.center-paging-list li a{
    display: block;
    width: 26px;
    height: 26px;
    font-weight: bold;
    color: #19dada;
    border:1px solid #66e6e6;
}