/*
|--------------------------------------------------------------------------
| index
|--------------------------------------------------------------------------
*/
.index .your-class {

}

.index .your-class {

}

/*
|--------------------------------------------------------------------------
| about
|--------------------------------------------------------------------------
*/
.about .your-class {

}

.about .your-class {

}

/*
|--------------------------------------------------------------------------
| affiliate
|--------------------------------------------------------------------------
*/
.affiliate .your-class {

}

.affiliate .your-class {

}

/*
|--------------------------------------------------------------------------
| article
|--------------------------------------------------------------------------
*/
.article .your-class {

}

.article .your-class {

}

/*
|--------------------------------------------------------------------------
| contact
|--------------------------------------------------------------------------
*/

.contact .main {
    margin-top: 66px;
    margin-bottom: 720px;
}
.contact .nav{
    margin-top: 46px;
}
.contact .con-right h2{
    color: #fff;
    line-height: 66px;
    padding-left: 30px;
}
.contact .con-right a{
    line-height: 66px;
    color: #838987;
}
.contact .con-right span {
    padding: 0 6px 0 0;
    color: #838987;
    line-height: 71px;
    letter-spacing: -6px;
}
.contact .con-right .center-top{
    width: 824px;
    height: 66px;
}
.contact #dituContent{
    margin-top: 46px;
    margin-bottom: 34px;
}
.contact .QRcode{
    height: 260px;
    width: 260px;
    background: url("../img/QRcode.jpg");
}
.contact .info-more ul{
    padding-top: 16px;
    padding-left: 84px;
}
.contact .info-more li{
    color: #4b4b4b;
    line-height: 44px;
}
/*
|--------------------------------------------------------------------------
| details
|--------------------------------------------------------------------------
*/
.details .your-class {

}

.details .your-class {

}

/*
|--------------------------------------------------------------------------
| food
|--------------------------------------------------------------------------
*/
.food .your-class {

}

.food .your-class {

}

/*
|--------------------------------------------------------------------------
| hierarchy
|--------------------------------------------------------------------------
*/
.hierarchy .your-class {

}

.hierarchy .your-class {

}

/*
|--------------------------------------------------------------------------
| product
|--------------------------------------------------------------------------
*/
.product .your-class {

}

.product .your-class {

}

/*
|--------------------------------------------------------------------------
| recruitment
|--------------------------------------------------------------------------
*/
.recruitment .your-class {

}

.recruitment .your-class {

}
